version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "sphinx"
      - dependency-name: "sphinx-rtd-theme"
      - dependency-name: "sphinx-togglebutton"