.md-grid {
    max-width: 1480px;
}

.md-typeset table:not([class]) {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.65rem;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    white-space: nowrap;
    padding: 0.2em 1em;
}

[data-md-color-scheme="default"] .md-content a,
[data-md-color-scheme="default"] .md-content a:visited {
  color: #b71c1c;
}

[data-md-color-scheme="default"] .md-content a:hover {
  color: #a02020;
}